/* cabecera */
.trivia-respuestas{
    padding: 8.5px;
    text-align: center
}
.triviaT-topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
  }
  
.triviaT-topnav .titulo{
    float: left;
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 5px 22px;
}
.triviaT-topnav .titulo-responsive{
    display: none;
    font-size: 12px;
    padding: 5px 16px;
}
  
.triviaT-topnav a {
    float: right;
    display: block;
    color: white !important;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
  
.triviaT-topnav .triviaT-icon {
    display: none;
    font-size: 22px;
    padding: 14px 16px;
}


.triviaT-cabecera {
    margin-top: -15px;
    background: #333;
    color: #fff;
    display: flex;
    height: 60px;
    box-shadow: rgba(150, 150, 150, 0.5) 0px 2px 2px;
    position: static;
    margin-bottom: 8px;
}

.triviaT-cabecera .triviaT-cabecera-titulo {
    margin: 10px auto 1px;
}

/* botones cabecera */
.contenedor-btn-enviar{
    margin: 7px;
}

.triviaT-enviar, .triviaT-restaurar, .triviaT-respuestas {
    width: 130px;
    background: #26890c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px 27px;
    margin: 7px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: inset 0 -4px rgba(0, 0, 0, .25);
    outline: none !important;
}

.triviaT-respuestas {
    background: #45a3e5;
}

.triviaT-respuestas:hover {
    background: #3086c4;
    box-shadow: inset 0 -1px rgba(0, 0, 0, .25);
    outline:none;
}

.triviaT-restaurar {
    background: #F11D0B;
}

.triviaT-enviar:hover {
    background: #1e7209;
    box-shadow: inset 0 -1px rgba(0, 0, 0, .25);
}

.triviaT-restaurar:hover {
    background: rgb(197, 20, 4);
    box-shadow: inset 0 -1px rgba(0, 0, 0, .25);
}

/* media querie sin hamburguesa */
@media only screen and (max-width: 575px) {
    
  .triviaT-topnav a {display: none;}
  .triviaT-topnav a.triviaT-icon {
    float: right;
    display: block;
  }
  .triviaT-topnav .titulo{
    float: left;
    display: block;
    text-align: center;
  }

}
/* media querie con hamburguesa */
@media only screen and (max-width: 575px) {
    
  .triviaT-topnav.responsive {position: relative;}
  .triviaT-topnav.responsive .triviaT-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .triviaT-topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .triviaT-topnav.responsive .titulo{
    display: none;
  }
  .contenedor-btn-enviar{
    margin: 0;    
    }

}


/* Contenido o cuerpo */

/* estilos grid de row and column */
.triviaT-row:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*="triviaT-col-"] {
    float: left;
    padding: 0 15px;
    width: 100%;
  }
  /* .triviaT-imgSalida{display: none} */

@media only screen and (min-width: 700px) {
    /* For desktop: */
    .triviaT-col-6 {width: 50%;}
    .triviaT-imgSalida{display: initial}
}

.triviaT-input-pregunta:focus, .triviaT-input-respuestas:focus {
    border: 2px solid #000;
}

.triviaT-image-container {
    display: flex;
    height: 142px;
    width: 99%;
    padding: 12px;
    border: 3px dotted #B2BABB;
    background: #F2F4F4;
    margin-bottom: 18px;
}

.imagen {
    margin: auto;
    width: 60%
}

.triviaT-input-pregunta {
    width: 100%;
    padding: 9px;
    font-size: 20px;
    border: 2px solid gray;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    resize: vertical;
    outline: none;
}

.triviaT-contenedor-respuesta{
    display: flex;
}

.triviaT-input-tiempo{
    margin-bottom: 18px;
}

.triviaT-input-respuestas {
    width: 91%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid gray;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 8px;
    resize: vertical;
    outline: none;
}

/* The Modal (background) */

.modal-respuestas {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content-respuestas {
    color: #aaaaaa;
    background-color: #1C2833;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    min-height: 85%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.rolldown-list {
    text-align: left;
    padding: 0;
    margin: 0;
}

.rolldown-list li {
    box-sizing: content-box;
    /* padding: 2.5%; */
    /* height: 17%; */
    /* margin-bottom: .125em; */
    /* display: block; */
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 5px;
    visibility: hidden;
    animation: rolldown .7s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
    background-color: #444;
}

.rolldown-list li:nth-child(2n+1) {
    background-color: #333;
}

.rolldown-list li:nth-child(2n+1) {
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s !important;
}
.rolldown-list li:nth-child(2n+2) {
    animation-delay: 0.50s;
    -webkit-animation-delay: 0.50s !important;
}
.rolldown-list li:nth-child(2n+3) {
    animation-delay: 4s;
    -webkit-animation-delay: 0.75s !important;
}
.rolldown-list li:nth-child(2n+4) {
    animation-delay: 4s;
    -webkit-animation-delay: 1s !important;
}
.rolldown-list li:nth-child(2n+5) {
    animation-delay: 4s;
    -webkit-animation-delay: 1.25s !important;
}

#myList {
    margin-top: 1%;
    position: absolute;
    width: 50%;
    left: 50%;
    margin-left: -25%;
}

h3.trivia-respuestas{
    text-align: center;
}

@keyframes rolldown {
    0% {
        visibility: visible;
        transform: rotateX(180deg) perspective(500px);
    }
    70% {
        visibility: visible;
        transform: rotateX(-20deg);
    }
    100% {
        visibility: visible;
        transform: rotateX(0deg);
    }
}

@media screen and (max-width: 600px){
.modal-respuestas .modal-content-respuestas{
    width: 80% 
}
}