html {
  padding: 0;
  margin: 0;
  font-family: Opal !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .btn-profesor {
    display: none;
  }
}
@media (max-width: 600px) {
  #btnVerAlumnos {
    left: 0 !important;
  }

  #btnVerAlumnos .img-rbt {
    width: 130px;
  }
  #btnVerAlumnos i {
    margin: 44px 20px 0 10px !important;
  }
}
body {
  font-family: Opal;
}

.navbar-brand{
  font-size: 21px !important;
}

.nav-link{
  font-size: 15px !important;
}

.card-title{
  font-family: Opal;
}

.card-login .form{
  min-height: 380px;
}

.footerLogin {
  position: absolute;
  bottom: 0;
  left: -30px;
  text-align: start;
  cursor: pointer;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px 100px 0px 0px;
  -moz-border-radius: 0px 100px 0px 0px;
  -webkit-border-radius: 0px 100px 0px 0px;
  padding-top: 5px;
  padding-right: 20px;
}

.wrapper2 {
  width: 800px;
  margin: 0;
  padding-bottom: 0;
}
.espacio {
  margin-top: 20px;
}
.button-google {
  float: left;
  font-family: Roboto, arial, sans-serif;
  color: #ffffff !important;
  background: #4285f4;
  min-width: 100%;
  height: 48px;
  text-align: center;
  user-select: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.21px;
  border: #4285f4 1px solid;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.18s, border-color 0.18s, box-shadow 0.18s;
}
.button-google:hover {
  box-shadow: 0px 0px 15px 0px rgba(66, 133, 244, 0.75);
}
.google-icon {
  float: left;
  border-radius: 100px;
  background: #ffffff;
  width: 46px;
  padding: 11px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.button-google:hover .google-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.loading{
  margin-left: 40%;
}
