.notFound-image-container{
    position: relative;
    width: 100%;
    height: 60vh;
}
.notFound-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto ;
    width: 100%;
    max-width: 557px;
}

.notFound-body{
    width: 100%;
    text-align: center;
}