.notFound-image-container{
    position: relative;
    width: 100%;
    height: 60vh;
}
.notFound-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto ;
    width: 100%;
    max-width: 557px;
}

.notFound-body{
    width: 100%;
    text-align: center;
}

.home-notfound {
    color: #FFF;
    background: #0BF;
    padding: 20px;
    margin: 25px auto;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 300px;
    box-shadow: inset 0 0 0 0 #0BF;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    text-decoration: none;
}


.back-notfound:hover {
    box-shadow: inset 340px 0 0 0 #08B;
}

.home-notfound:hover {
    box-shadow: inset -340px 0 0 0 #08B;
}

.notFound-link{
    text-decoration: none;
    color: #fff
}