
.body-404 {
    background: #2f4256 url('http://freelansim.ru/images/service_pattern.png')repeat 0 0;
    text-align: center;
    font-family: Opal;
    margin: 0;
    padding:0;
    overflow: hidden;
    display: table;
    min-width: 100%;
}

.text{
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    margin: 0 auto;
}

.title-404{
  font-size: 120px;
  color: #fff;
  font-weight: 700;
  margin: 0 auto -56px;
  line-height: 2.07;
  font-family: Opal;
}

.icon_404:after, .icon_500:after{
content: '';
display: block;
width: 202px;
height: 202px;
margin: 40px auto;
background-repeat: no-repeat;
background-position: 0 0;
}


.icon_500:after{
background-image: url('http://freelansim.ru/images/500_icon.png');
}

.home-notfound {
    color: #FFF;
    background: #334354;
    padding: 20px;
    margin: 25px auto;
    font-family: Opal;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* display: block; */
    text-align: center;
    cursor: pointer;
    width: 300px;
    box-shadow: inset 0 0 0 0 #999;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    text-decoration: none;
}

.home-notfound:hover {
  box-shadow: inset -340px 0 0 0 #999;
}

.notfound-link{
  text-decoration: none;
  color: #fff
}