.Files
    position: relative
    margin-top: -100px
    max-width: 200px
    width: 200px
    height: 100px
    pointer-events: none

.Actions
    position: relative
    top: 15px
    button
        cursor: pointer

.mensageAction
    font-family: "Opal"
    font-size: 17px
    &.pocitive
        color: #52BE7F
    &.negative
        color:  #ff0000
    
.ProgressWrapper
    bottom: 0
    position: absolute
    width: 100%
    