.Files
    padding: 10px
    margin: 25px

.Actions
    position: relative
    top: 10px


button, [type="button"], [type="reset"], [type="submit"] 
    -webkit-appearance: button
    background: #00923d
    border-radius: 25px
    color: white
    height: 30px
    bottom: 0

