.alumnoH-header{
    position: fixed;
    background:#52BE7F;
    height: 56px;
    width: 100%;
    z-index: 5;
}
.alumnoH-header-base{
    height: 66px;
    width: 100%;
}

.alumnoH-header *{
    color: white
}

.alumnoH-header .alumnoHeader-logo{
    float: left;
    height: inherit;
    margin-left: 1em;
    /* border: 1px solid red; */
}
.alumnoH-header .alumnoHeader-image{
    margin: 18px 9px;
}

.alumnoH-header .alumnoHeader-menu-toggle{
    display: none;
}

.logo{
    padding: 4px;
}

.rt{
    margin: -2px;
    margin-left: 4px;
}
.alumnoH-header .alumnoHeader-nav{
    float: right;
    margin: 0px;
    padding: 0;
    list-style: none;
    border-radius: 0px 0px 13px 13px;

    /* border: 1px solid red; */
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li{
    float: left;
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-right: 4px;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a{
    display: block;
    padding: 14px;
    font-size: 1.1em;
    text-decoration: none;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a:hover{
    /*margin-top: 5px;*/
    background: white;
    color: #52BE7F;
    /*padding: 10px;*/
    border-radius: 23px;
    height: 45px;
    /*margin-right: 8px;*/
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a:hover.alumnoHeader-nav{
    background: red;
}
/* .alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a .fa:hover{
    color: #52BE7F;
} */
/* .alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a .fa .fa-list-ol:hover{
    color: #52BE7F;
} */
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li:hover .alumnoHeader-nav{
    display: block;
    margin-top: 5.8px;
    padding: 5px;
    border-radius: 0px 0px 14px 14px;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li:hover .alumnoHeader-a{
    margin-bottom: -8px;
  /* margin-top: 2px;*/
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a:hover{
    margin-bottom: 0;
  /* margin-top: 2px;*/
}
/* .fa .fa-list-ol:hover{
    color: #52be7f;
}

.fa .fa-list-ol{
    color: white;
} */
/* .alumnoHeader-li .alumnoHeader-a .fa-list-ol:hover{
    color: tomato;
} */

li.alumnoHeader-li .ft:hover{
    cursor: pointer;
    padding: 0 0 6px;
}

.alumnoHeader-li .alumnoHeader-a:hover .fa-list-ol{
    color: #52BE7F;
}

.alumnoHeader-li .alumnoHeader-a:hover .fa-hourglass{
    color:#52BE7F;
}
.alumnoHeader-li .alumnoHeader-a:hover .fa-user{
    color:#52BE7F
}
.alumnoHeader-li .alumnoHeader-a:hover .fa-chevron-down{
    color:#52BE7F
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav{
    /* position: absolute; */
    top: 56px;
    right: 0;
    width: 100%;
    display: none;
    background: rgb(216, 216, 216);
    z-index: 3000;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav .alumnoHeader-li{
    width: 100%;
    text-align: center;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a{
    padding: 10px; 
    background: rgb(216, 216, 216);
    /* color: #4d4d4d;
    margin-top: -9px; */
    cursor: pointer;
    margin-bottom: -1px;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a .fa{
    font-size: 22px;
    padding: 0 10px;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav .alumnoHeader-li:hover .alumnoHeader-a{
    /* background: rgb(194, 194, 194); */
    color: red;
    transition: 0.5s;
}
.alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav .alumnoHeader-li:hover .alumnoHeader-a .fas{
    color: red;
    transition: 0.5s;
}

/* media queries */

@media only screen and (max-width: 850px){

    .alumnoH-header .alumnoHeader-nav{
        width: 100%;
        background:#52BE7F;
        max-height: 0;
        overflow: hidden;
    }

    .showResponsive{
        max-height: 100em !important;
    }

    .alumnoH-header .alumnoHeader-menu-toggle{
        position: absolute;
        display: block;
        right: 20px;
        top: 10px;
        font-size: 2em;
    }

    .alumnoH-header .alumnoHeader-nav .alumnoHeader-li, .alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav .alumnoHeader-li{
        width: 100%;
        text-align: left;
    }

    .alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav{
        position: static;
        display: none;
        width: 100%;
        background: #52BE7F;
    }
    
    .alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a{
        padding: 10px;
        background: #52BE7F;
        color: white;
        margin-left: 40px;
        display: block;
    }
    
   
    .alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-nav .alumnoHeader-li:hover{
       /* background: rgb(194, 194, 194);*/
        color: rgb(219, 190, 23);
        /*transition: 0.5s;*/
    }
    .alumnoH-header .alumnoHeader-nav .alumnoHeader-li .alumnoHeader-a:hover{
        background: white;
        color: #52BE7F;
        height: 55%;
    }

}
