.menu_bar
    display: none

header nav
    background: #3087a4
    z-index: 1000
    max-width: 100%
    width: 100%
    margin: auto
    ul
        list-style-type: none
        text-align: center
        li
            display: inline-block
            position: relative
            width: 15%
            &:hover
                background: #E6344A
            .a
                color: #fff
                display: block
                text-decoration: none
                padding: 20px

.nav-lista:focus
    background: #6ac3c35b

.nav-azar:focus
    background: #6ac3c35b

.nav-grupos:focus
    background: #6ac3c35b

.nav-temporizador:focus
    background: #6ac3c35b

.nav-trivia:focus
    background: #6ac3c35b

header nav ul li .a span
    margin-right: 10px

header nav ul li:hover .children
    display: block

header nav ul li .children
    display: none
    background: #011826
    position: absolute
    width: 150%
    z-index: 1000

header nav ul li .children li
    display: block
    overflow: hidden
    border-bottom: 1px solid rgba(255, 255, 255, .5)

header nav ul li .children li .a
    display: block

header nav ul li .children li .a span
    float: right
    position: relative
    top: 3px
    margin-right: 0
    margin-left: 10px

header nav ul li .caret
    position: relative
    top: 3px
    margin-left: 10px
    margin-right: 0px

@media screen and (max-width: 800px)
    body
        padding-top: 80px

        &
            display: block
            width: 100%
            position: fixed
            top: 0
            background: #3087a4

        & .bt-menu
            display: block
            padding: 20px
            color: #fff
            overflow: hidden
            font-size: 25px
            font-weight: bold
            text-decoration: none

    header nav
        width: 80%
        height: calc(100% - 80px)
        position: fixed
        right: 100%
        margin: 0
        overflow: scroll

    header nav ul li
        display: block
        border-bottom: 1px solid rgba(255, 255, 255, .5)

    header nav ul li .a
        display: block

    header nav ul li:hover .children
        display: none

    header nav ul li .children
        width: 100%
        position: relative

    header nav ul li .children li .a
        margin-left: 20px

    header nav ul li .caret
        float: right
