#Empatia-header
    background: #52BE7F
    display: flex
    text-align: center
    div 
        flex-grow: 1
        margin: auto
        padding: 10px
        border-radius: 25px
        cursor: pointer
        a   
            margin: 0
            text-decoration: none
            color: #fff
            &:hover
                background: white
                color: #52BE7F
