.main-teacher-container
    height: 100vh
    display: grid
    grid-template-rows: .4fr 0 
.Header-code__header
    background: #ffffff
    display: flex
    text-align: center
    .logo
        flex-grow: 5
        text-align: left
        margin-left: 18px
        display: flex
        .logo-img
            margin-left: 10px
        .icon-img
            margin: auto 0
    .class-name
        color: #2B4F95
        flex-grow: 2
        margin: auto
        font-size: 20px
        text-align: right
    .options
        flex-grow: 0    
        margin: 10px 18px
        text-align: right
        .btn-setting
            cursor: pointer
    .code-detail
        width: 150px
        height: 45px
        color: #fff
        cursor: pointer
        background: #FF9191
        position: absolute
        left: 0
        right: 0
        top: 5px
        margin: auto
        border-radius: 15px
        .codigo-generado
            font-size: 1.4rem
            line-height: 1.2
    #menuToggle
        display: none
        position: absolute
        top: 0
        left: 0
        z-index: 1
        webkit-user-select: none
        user-select: none      
        .check 
            display: none
            &:checked ~ .close-menu 
                visibility: visible

            &:checked ~ .menuToggle__menu-btn .bar.top 
                width: 44px
                height: 4px
                left: 2px
                -webkit-transform: rotate(45deg)
                -ms-transform: rotate(45deg)
                transform: rotate(45deg)
            &:checked ~ .menuToggle__menu-btn .bar.middle 
                opacity: 0
            &:checked ~ .menuToggle__menu-btn .bar.bottom 
                width: 44px
                height: 4px
                top: 13px
                -webkit-transform: rotate(-45deg)
                -ms-transform: rotate(-45deg)
                transform: rotate(-45deg)
        .menuToggle__menu-btn
            position: absolute
            top: 19px
            left: 18px
            cursor: pointer
            z-index: 3
            .bar 
                position: relative
                top: 0
                left: 0
                display: block
                width: 40px
                height: 4px
                background: #aaa
                -webkit-transition: all .5s
                transition: all .5s
                transform-origin: left top
                border-radius: 3px
                margin-bottom: 5px
        .close-menu
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: 100vh
            cursor: pointer
            background: #00000033
            -webkit-transition-property: all
            transition-property: all
            visibility: hidden
        .menuToggle__drawer-menu 
            display: none
            position: fixed
            top: 0
            left: -58px
            width: 333px
            height: auto
            padding: 64px 0
            background: #ffffff
            -webkit-transition-property: all
            transition-property: all
            -webkit-transition-duration: .5s
            transition-duration: .5s
            -webkit-transition-delay: 0s
            transition-delay: 0s
            -webkit-transform-origin: left center
            -ms-transform-origin: left center
            transform-origin: left center
            -webkit-transform: perspective(-66px) rotateY(17deg)
            transform: perspective(-66px) rotateY(17deg)
            z-index: 2
            .menu-header__item
                text-align: center
                .menu-header__item-link
                    text-decoration: none
                    line-height: 50px
                    font-size: 20px
                    color: #2B4F95
                    display: block
                    -webkit-transition: all .8s
                    transition: all .8s
                    &:hover 
                        color: #fff
                        background: #2B4F95
        .check:checked ~ .menuToggle__drawer-menu 
            -webkit-transition-delay: .3s
            transition-delay: .3s
            -webkit-transform: none
            -ms-transform: none
            transform: none
            z-index: 2
            display: block
@media screen and (max-width: 680px)
    #menuToggle
        display: block !important        
    .main-teacher-container
        grid-template-rows: 55px auto 40px 
    .Header-code__header .logo, .class-name
        display: none
    .btn-setting
        right: 18px
        position: absolute
        top: 10px