
.teacherCourses__l-container
    max-width: 100%
    padding-left: 1rem
    padding-right: 1rem
    display: flex
    margin-right: auto
    margin-left: auto
    // flex-wrap: wrap
  
.teacherCourses__center-block
    margin-left: auto
    margin-right: auto
  
.teacherCourses__center-content
    text-align: center
  
.teacherCourses__main-header
    height: 3rem;
    border-bottom: 1px solid #CCC
  
.teacherCourses__main-header__block
    justify-content: space-between
    align-items: center
    height: 100%
  
.teacherCourses__main-logo
    height: 2rem
  
.teacherCourses__main-menu
    margin-top: 0
    margin-bottom: 0
    padding-left: 0
    list-style: none

.teacherCourses__main-menu__item
    padding: 1rem
    &:hover
        background-color: #52BE7F
.teacherCourses__main-menu__addCourse,
.teacherCourses__main-menu__LogOut
    color: #CCC
    margin-left: 1rem
    text-decoration: none
    
.teacherCourses__main-nav
    position: fixed
    height: calc(100vh - 3rem)
    width: 80vw
    background: #141618
    top: 3rem
    right: -80vw
    transition: right .3s
    padding-top: 1rem
    z-index: 100
    
.teacherCourses__main-nav.show
    right: 0
  
.teacherCourses__main-menu-toggle
    width: 2.2rem
    height: 1.6rem
    background: linear-gradient(#141618 20%, transparent 20%, transparent 40%, #141618 40%, #141618 60%, transparent 60%, transparent 80%, #141618 80%)
    cursor: pointer
  
.teacherCourses__main-banner
    --padding: 2rem 1rem 3rem
    --logo-height: 3rem
    padding: 2rem 1rem 3rem
    background: #007BDF
    color: #FFF
    text-align: center
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%)
    position: relative

.teacherCourses__main-banner__content
    position: relative
.teacherCourses__main-banner__logo
    height: 3rem
    display: block
    margin: 0 auto .5rem
.teacherCourses__main-banner__hero-image
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    opacity: .1
.teacherCourses__small
    font-size: .75rem

@media screen and (min-width: 960px)
    .teacherCourses__main-menu
        display: flex
    .teacherCourses__main-menu__addCourse
        color: #53575A
        text-decoration: none
        font-size: 1em
        padding: 0.5rem;
        border-radius: 39px;
        &:hover
            background-color: #FB9600
            color: white

    .teacherCourses__main-menu__LogOut
        color: #53575A
        text-decoration: none
        font-size: 1em
        padding: 0.5rem;
        border-radius: 39px;
        &:hover
            color: white
            background-color: #E91E63
    .teacherCourses__main-nav
        position: static
        background: transparent
        padding-top: 0
        height: auto
        width: auto
    .teacherCourses__main-menu-toggle
        display: none
    .teacherCourses__main-banner
        --padding: 5rem 1rem 6rem
        --logo-height: 5rem 
    .teacherCourses__main-menu__item:hover
        background: none