
.chat-container {
    max-width: auto;
    /*margin: 30px auto;*/
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
    height: 500px;
    background: #adb4d2;
    border-radius: 30px 0px 0px 30px;
        overflow-y: scroll;


        /*text-align:justify; */
    
}

.container-chat{
    width: 80%;
  
}


#chat-window {
    /* padding: 14px 0px;*/
    /*margin: 0 20px;*/
    /*border-bottom: 1px solid #e9e9e9;*/
    z-index: 1;
    position: relative;
   margin-top: 350px;
  
}

#msjs_div{
    height: 500px;
   /* background: #adb4d2;*/
    /*border-radius: 30px 0px 0px 30px;*/
    overflow-y: scroll;
}

.ouput {
    width: 40%;
    
    background: #adb4d2;
    padding: 20px;
 
}

.ouput p{
   /* display:inline-block;*/
    color: white;
    font-size: 110%;
    /*width: 50%;*/
    /*background: #7b86b7;*/
   
  /* float:left;
   clear:both;
   border-radius: 10px;
   border: solid #7b86b7;
   
 
    padding: 5px;*/
     /*  border: solid blue;*/
}

.actions  {
    z-index: 1;
    padding: 14px 0;
    margin: 0 20px;
    border-top: 1px solid #e9e9e9;
    color: #555;
    font-style: oblique;
    position: absolute;
    bottom: 128px;
}
.titulo1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.titulo2 h1{
    color: #575e84;
    font-weight: bold;
}

.chat-input {
    z-index: 1;
    border-radius: 20px;
    color: white;
    padding: 10px ;
    box-sizing: border-box;
    border: 0;
    background: #6BAFC3;
    display: block;
    width: 65%;
    position: absolute;
    bottom: 20px;
    
}
.chat-input-username{
    z-index: 1;
    color: white;
    padding:10px;
    box-sizing: border-box;
    border: 0;
    background: #8f98c1;
    display: block;
    width: 20%;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.btn-env {
    background: #575e84;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

/*Slider desplegable*/

.sidebar {
    color: white;
    height: 100%;
    width: 0;
    position: absolute;
    /* z-index: 1;*/
    top: 0;
    right: 0;
    background-color: #737373;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}

.sidebar a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    /*   display: block;*/
    transition: 0.3s;
    
}

.sidebar a:hover {
    color: #f1f1f1;
}

.titulo {
    text-align: center;
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: black;
    height: 80px;
    padding-top: 10px;
}

.sidebar .closebtn {
    /*CON X */
    position: fixed;
    top: 0px;
    right: 5px;
    font-size: 40px;
    color: #4d4d4d;
    /*Triangulo*/
    /*position: absolute;
    top: 50%;
    left: 0px;
    font-size: 36px;*/
    /* margin-left: 50px;*/
}

.openbtn {
    background: transparent;
    /*font-size: 20px;*/
    cursor: pointer;
    /* background-color: #111;*/
    color: red;
    /*  padding: 10px 5px;*/
    border: none;
    position: absolute;
    right: 0px;
    /*width: 20px;*/
    top: 50%;
    /*triangulo*/
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-right: 25px solid black;
    border-bottom: 12.5px solid transparent;
}

.closebtn1 {
    background: transparent;
    cursor: pointer;
    color: red;
    border: none;
    position: absolute;
    left: 0px;
    top: 50%;
    /*Triangulo*/
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 50px solid red;
    border-bottom: 12.5px solid transparent;
}
/*.openbtn:hover {
    background-color: #444;
}*/

/*#div_children {
    transition: margin-Right 1.5s;
  
}

#div_head{
    transition: margin-Right 1.5s;
}

#div_foot{
    transition: margin-Right .5s;
}

#btn_open {
    transition: margin-Right .5s;
}
*/
.chat_window{
    max-width: auto;
    /*margin: 30px auto;*/
   /* border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);*/
    height: 100%;
   /* background: #adb4d2;*/
    /*border-radius: 30px 0px 0px 30px;*/
        overflow-y: scroll;


        /*text-align:justify; */
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}*/